
.mt20 { margin-top: 20px; }
.ml20 { margin-left: 20px; }
.ml5 { margin-left: 5px; }

.tools {
  margin-right: 5px;
  display: flex;
  flex-direction: column;
  background-color: #2d343f;
  width: 65px;
}

.title {
  background-color: #383e49;
  padding: 15px;
  color: white;

}

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}
.toolbar {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
  margin-top: 40px;
  margin-left: 10px;
}
.toolbarButton {
  margin-bottom: 10px !important;
}

.col-swatch, .toolbarButton {
  height: 30px;
  width: 42px;
  border-radius: 5px;
}

.toolbarButton.selected {
  box-shadow: 0 0 0 0.2rem rgba(38,143,255,.5) !important;
}

.stage-container {
  background-color: #fafafa;
  display: flex;
}

.stage-body {
  flex-grow: 1;
  padding-top: 10px;
}

.previews {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
}

.stage-body > *, .previews > * {
  margin-right: 10px;
}

.tile-holder {
}

.tile-holder .input-file {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5px;
}


.tileset canvas { border: 1px solid #ccc; }
